* {
    margin: 0;
    padding: 0;
}

.navber,
.list {
    display: flex;
    align-items: center;

}

.navber {
    justify-content: space-between;
    width: 85%;
    margin: 20px auto;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    border: 2px dotted yellowgreen;
}

header p {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FF900E;
    color: #FFFFFF;
    cursor: pointer;

}

header img {
    width: 100%;
    margin-top: 10px;
}

/* feature-section */
.feature-container {
    display: flex;
    width: 85%;
    margin: 20px auto;
    align-items: center;
}

.feature-image-section img {
    margin-right: 5px;
}

.feature-content-section {
    /* text-align: center; */
    margin-left: 30px;
}

/* Love and enjoy section */
.love-and-enjoy {
    display: flex;
    margin: 20px auto;
    width: 85%;
}
.content-section-love{
    width: 50%;
    margin-right: 30px;
}
.content-section-heading h3:before{
    content:'ff ';
    height:10px;
    width:20px;
    color: red;
}
.single-post {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 5px;
    padding: 7px;
}
.img-section{
    width:50%;
}
.img-section img{
    height:100%;
}
.experience{
    position:relative;
    left:-70px;
    bottom: 20px;
    width: 100px;
    padding:7px;
    background: #FF900E;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}
/* fact-section */
.fact-section{
    width:85%;
    margin:20px auto;
    margin-top: 50px;
}
.fact-section .cart-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.cart-section .cart{
    border:1px solid #FF900E;
    padding: 30px;
    display:flex;
    flex-direction: column;
    width:200px;
    height: 200px;
    align-items: center;
    justify-content: space-around;


}
.fact-content{

}
/* Sponsor Section */
.sponsors-container{
    width:85%;
    margin:20px auto;
    margin-top: 50px;
}
.sponsor-content{

}
.sponsor-logo{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}