* {
    margin: 0;
    padding: 0;
}

.navber,
.list {
    display: flex;
    align-items: center;

}

.navber {
    justify-content: space-between;
    width: 85%;
    margin: 20px auto;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

header p {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FF900E;
    color: #FFFFFF;
    cursor: pointer;

}

header img {
    width: 100%;
    margin-top: 10px;
}

/* feature-section */
.feature-section{
    margin-top: 50px;
}
.feature-section h2{
    font-size: 30px;
}
.feature-container {
    display: flex;
    width: 85%;
    margin: 20px auto;
    align-items: center;
}

.feature-image-section img {
    margin-right: 5px;
}

.feature-content-section {
    /* text-align: center; */
    margin-left: 30px;
}

/* Love and enjoy section */
.love-and-enjoy {
    display: flex;
    margin: 20px auto;
    width: 85%;
    height: 1049px;
    margin-top: 50px;
}
.content-section-love{
    margin-right: 30px;
}
.content-section-heading h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.single-post {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 25px;
    padding: 7px;
}
.img-section{
    width: 100%;
    height: 700px;
    /* object-fit: cover; */
}
.img-section img{
    width: 100%;
    height: 100%;
}
.experience{
    position:relative;
    left:-70px;
    bottom: 20px;
    width: 100px;
    padding:7px;
    background: #FF900E;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}
/* fact-section */
.fact-section{
    width:85%;
    margin:20px auto;
    margin-top: 50px;
}
.fact-section .cart-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.cart-section .cart{
    border:1px solid #FF900E;
    padding: 30px;
    display:flex;
    flex-direction: column;
    width:200px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}
.fact-content h3{
    font-size: 30px;
    margin-bottom: 15px;

}
.cart:hover{
    background-color: #FF900E;
    transform: translateX(10px) rotate(10deg) translateY(5px);
    animation: 3s infinite alternate slidein;
    cursor: pointer;
}
/* Sponsor Section */
.sponsors-container{
    width:85%;
    margin:20px auto;
    margin-top: 100px;
}
.sponsor-content{
    position: relative;
    left:20%;
     

}
.sponsor-logo{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    width:85%;
    margin:20px auto;
    background-color: #FFF4E7;
    padding: 5px;
    margin-top: 50px;
}
footer h4{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .navber, .list{
        flex-direction: column;
    }
    .feature-container{
        flex-direction: column;
    }
    .love-and-enjoy{
        flex-direction: column;
        position: relative;
    }
    .experience{
        position: absolute
        ;
        left:85%;
        bottom: 95%;
    }
    .cart-section{
        flex-direction: column;

    }
    .cart{
        margin-top: 5px;
    }
    .sponsor-logo{
        flex-direction: column;
    }
    .sponsor-logo img{
        margin-top: 20px;
    }
  }